.row{
    display: flex;
    width: 100%;
    padding: 0 50px;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.left__column h4{
    color: rgb(20, 77, 201);
}

.right__column{
    padding-left: 8%;
}

.right__column h4{
    color: #0e751c;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 30px 40px 30px 40px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.read__more--link a{
    margin-top: 10%;
}