* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.form_fields {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px 0;
}

.form_inputs {
  padding: 10px;
  width: 100%;
}

.btn {
  padding: 20px;
  outline: none;
  width: 40%;
  color: white;
}

.register {
  background-color: cornflowerblue;
}

.signup {
  background-color: lime;
}


@media only screen and (max-width: 900px){
  .form {
    width: 580px;
  }
}

@media only screen and (max-width: 600px){
  .form {
    width: 300px;
  }
}
