
ul{
    
    margin: 0;
    padding: 0; 
      
  }
  
  .subhead-list{
      margin-left:3em ;
  }
  
  p{
      margin-top:1em;
      margin-bottom: 1em;
  }
  
  
  
  #sub-head{
      list-style-type: none;
      overflow: none;
  }
  
  #sub-head a
  {
      color: grey;
  }
  #title{
      list-style-type: none;
      text-decoration: underline;
  }
  
  .sub-area{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 1em;
  }
  .blog-feed{
      
      height: auto;
      width: 75vw;
      /* border: 2px red solid; */
      padding: 2em;
  }
  
  .box-text{
      border: 1px grey solid;
      
  }