*, *::before, *::after{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;  
}

.main-container{
    display: flex;
    margin-top: 4em;   
}

ul{  
  margin: 0;
  padding: 0;   
}

.subhead-list{
    margin-left:3em ;
}

p{
    margin-top:1em;
    margin-bottom: 1em;
}

#sub-head{
    list-style-type: none;
    overflow: none;
}

#sub-head a
{
    color: grey;
}
#title{
    list-style-type: none;
    text-decoration: underline;
}

.sub-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    
}

.blog-feed{
    
    height: auto;
    width: 75vw;
    padding: 2em;
}

.box-text{
    border: 1px grey solid;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: auto;
    /* border:2px green solid; */
    padding:2em;
}

.list{
    display: flex;
    flex-direction: column;
}


.button-container{
    margin-left:2em;
}

button{
    
    width: 100px;
    height: 45px;
    border-radius: 20px;
    border: grey 1px solid;
    color: grey;
}
button:hover{
    border: blue 1px solid;
    color: blue;
}

.about-content, .arch-content,.else-content{
    padding-bottom:20px;
}

@media only screen and (max-width: 800px) {
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-container{
        display: flex;
        margin-left: 0;
        justify-content: center; 
    }
    .sub-menu{
        width: 100vw;
        height: auto;
    }
    .blog-feed{
        padding: .5em;
    }
}