*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --black: #000;
    --gray: #c6bfbf;
    --Yelow: #ccb240;
    --red: #db1b25;
    --bkgd:rgba(101, 142, 230, 0.445);

}

body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-color: var(--bkgd);
}


.header {   
    width: 100%;
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    
}
.header ul{
    width: 100%;
    display: flex;
    list-style-type:none;
}

.header-left{
    flex: auto;
    margin: 10px;
    text-align: left;
}
.header-left li a {
    color: var(--gray);
}

.header-right{
    flex: auto;
    margin: 10px;
    text-align: right;
}

.header-middle li a{
    color: var(--black);
    font-size: large;
}

.header-middle{
    flex: auto;
    margin: 10px;
    text-align: center;
}
.blog-cont {
    padding:5% 10%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    box-sizing: border-box;
    
    background-image: url(./bkgd.jpeg);
    background-repeat: no-repeat;
    padding: 15px;
    background-size: cover;

}
.b-row {
    padding: 2%;
    margin: 2%;
    display: flex;
}

.b-card {
    margin: 2%;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
    border: #1a0107 2px solid;
    width: 50%;
    border-radius: 10px;
}
.b-card h1{
    font-size: 2vw;
}

.b-card p1{
    font-size: 1.4vw;
    color:var(--gray);
    font-style: italic;
}

.b-card p {
    font-size: 1.5vw;
}
footer {
    position: absolute;
    background-color: var(--gray);
    width: 100%;
    text-align: center;
    padding: 20px;
}

.b-card:hover{
    border-color: var(--red);
}

a:hover {
    color: var(--gray)
}
#builder:hover {
    color: var(--Yelow);
}


