**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   
}

.container{
    display: flex;
    background: linear-gradient(to right, navy, lightblue);
    align-items: center;
    justify-content: center;
    padding: 45px;
}

.carousel_box{
    display: flex;
    overflow: auto;
    justify-content: space-between;
   padding-bottom: 80px;
}
.movie{
    width: 500px;
    height: 500px;
}

.buttons .switchLeft{
    position: absolute;
    left: 10px;
    
}

.buttons .switchRight{
    position: absolute;
    right: 10px;
}

