body{
    background-color: grey;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

#movie_container{
    display:flex;
    background-color: green;
    height: 600px;
}


#slot{
    flex-grow: 2;
    text-align: center;
    padding-top: 20px;
}


.button_sec{
    flex-grow: 0.1;
    background-color: gray;
    padding-top: 250px;
}


#left_button{
    height: 50px;
    width: 50px;
}


#right_button{
    height: 50px;
    width: 50px;
}