*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family:'Hind Siliguri', sans-serif;
    background:url("https://images.unsplash.com/photo-1593193583588-66f1dcc0625b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}


h2{
    font-size:3em;
}

h3{
    font-size:2em;
}

h4{
    font-size:1em;
}

nav{
    width:100%;
    padding:0;
    margin:0;
    background-color:cadetblue;
    position:fixed;
}

.nav-container{
    width:90%;
    max-width:1500px;
    display:flex;
    flex-direction:row;
    margin:0 auto;
}

.nav-container__item{
    padding:0.5em;
    height:3em;
    width:15em;
    margin:0 auto;
    text-align:center;
    font-size:20px;
}

.nav-container__item:hover{
    background-color:black;
    color:white;
    text-decoration:underline 4px solid white;
    border-radius:5px;
}

.nav-container__item a{
    text-decoration:none;
    color:white;
    letter-spacing:2px;
}

#search:hover{
    background-color:white;
}

.nav-container__item img{
    height:20px;
    width:20px;
    margin-top:0.4em;
}

.div--fullbody{
    width:90%;
    max-width:2000px;
    padding-top:3em;
    margin:0 auto;
    display:flex;
    background:rgba(255, 255, 255, 0.9)
    
}

main{
    padding:0;
    margin:0;
}

header{
    width:40%;
    max-width:500px;
    margin:0;
    background-color:cadetblue;
    padding:2em;
    
    color:white;
    text-shadow:0px 0px 2px black;
}


.header__about{
    width:100%;
    padding:1em0;
    margin:0;
}

.header__about a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.header__about img{
    height:1.5em;
}


.header__div{
    width:80%;
    margin:0;
    padding: 1em 0;
    display:flex;
}

.header__div button{
    height:3em;
    width:15em;
    max-width:150px;
    margin:0 auto;
    border-radius:5px;
    border-color:white;
    color:cadetblue;
}

.header__div button:hover{
    border:5px solid black;
    color:black;
    text-decoration:underline 2px cadetblue;
}



.title{    
    margin:0;
    padding:1px;
    font-size:5em;
    letter-spacing:2px;
    text-decoration: underline 5px solid white;
}


.div--tocenter{
    margin:0 auto;
    width:100%;
    display:flex;
}

.article__body{
    padding:2em;
    width:60%;
    max-width:2000px;
}

.article__body blockquote{
    width:60%;
    max-width:700px;
    padding:1em 0;
    margin:0 10px;
}

footer{
    margin:0;
    padding:1em 0;
    width:100vw;
    background-color:cadetblue;
    color:white;
    font-size:20px;
}

.footer--tocenter{
    width:50%;
    max-width:500px;
    margin:0 auto;
    text-align:center;
}

@media (max-width:800px){
    
    h2{
        font-size:2em;
        padding: 0.5em 0;
    }
    
    h3{
        font-size:1.5em;
        padding: 0.5em 0;
    }
    
    h4{
        font-size: 1em;
        padding: 0.5em 0;
    }
    
    .nav-container{
        flex-flow:column;
        
    }
    
    header{
        margin: 8em 0 0 0;
        width:100%;    
    }
    
    .title{
        font-size:3em;
    }
    
    .div--tocenter{
        flex-flow:column;
    }
    
    .article__body blockquote, .article__body{
        width:100%;
        margin:0;
        padding:2em;
    }    
    
}




