/* main post */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.post {
  display: inline-block;
  font-size: 34px;
}

.post_date {
  color: gray;
}

.post_text {
  padding-bottom: 10px;
}

.post_underline {
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.post_block {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.post h3 {
  font-size: 0.8em
}

.post p, .post li {
  margin: 10px 0;
  font-size: 0.5em;
}

.post ul, .post ol {
  padding-left: 30px;
}

/* aside */

aside {
  height: 100%;
  /* display: inline-block; */
}

.about {
  background-color: rgb(190, 190, 190);
  padding: 10px;
}