
/* Blog content*/

.blog__content {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
    margin-left: 20px;   
}

/* Blog content article */

article > p, hr{
    margin-bottom: 20px;
}

article > ul, ol {
    padding-left: 40px;
    margin-bottom: 20px;
}

.greyborder--padding {
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.greyborder {
    border: 1px solid #e0e0e0;
}

/* Blog content aside */

aside > div {
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.blog__content--about {
    background-color: #f5f5f5;
   

}

.blog__content--about > img {
    height: 100px;
    width: 100px;
}

.blog__content--right-buttons--left{
    padding: 10px;
    border-radius: 20px;
    color: var(--color-skyblue);
    border: 2px solid var(--color-skyblue);
    background-color: white;
    margin-top:35px;
    margin-bottom: 50px;
}

.blog__content--right-buttons--right{
    padding: 10px;
    border-radius: 20px;
    color: var(--color-grey);
    border: 2px solid var(--color-grey);
    background-color: white;]
    margin-top:35px;
    margin-bottom: 50px;
}
